.top-button{
    display: none;
    position: fixed;

    bottom: 10%;
    right: 3%;

    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;

    opacity: 0.65;
    text-decoration: none;
    cursor: pointer;
    color:var(--text-heading-color);
    background-color: var(--base-theme-color);

    /* z-index: ; without this, it was under timeline section this was not working */
}

.top-button:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .top-button{
        bottom: 60px;
        right: 4px;
    }
    .top-button button{
        padding: 0.3rem 0.3rem;
    }
}